/* 
        Howdy! 
        This is your styling page (css: casscading style sheet)
        
        This is a comment. Outside of this section, you will add
        specific styles to add some pizzaz to your website.
 */

 body{
       
        background-color: rgb(112,134,159);
 }

 
.name{
        font-size: 8.0vh;
        color:white;
        font-family: Arial, sans-serif;
        text-align: center;
        padding-top: 19%;
        margin: auto;
        font-weight:bold;
        

}


.major{
        font-size: 3.0vh;
        color: rgb(189, 189, 189);
        text-align: center;
        font-family: Arial, sans-serif;
        margin: auto;
        font-weight: bold;


}

.home{
height: calc(100vh - 50px);
background-repeat: no-repeat;
background-position: center;
  background-size: cover;
}

 
/*footer*/
footer{
        background-color: rgb(96, 86, 129);
        
}     
.fa-linkedin{
        font-size: 30px;
        width: 30px;
        text-align: center;
        text-decoration: none;
}
.fa:hover {
        opacity: 0.7;
}      


.lineB{
        text-align: center;
        font-family: unset;
        font-size: 3vh ;
        color: rgb(204, 204, 204);
        font-weight: bold;
}


@media only screen and (min-width: 769px) {
.navbar-nav.navbar-center {
        position: absolute;
        left: 50%;
        transform: translatex(-50%);
        }
}